#container {
    display: flex;
    background: rgb(218, 215, 215);
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}


#grid{
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid black;
   
}
#grid:hover {
    background-color: yellow;
  }

  